Repository mrcaidev/homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: uppercase color hex in icon.svg
  public/icon.svg
Due: none

chore: rename icon.svg to favicon.svg
  README.md
  public/favicon.svg
  src/pages/_layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: add reference link in jsx.d.ts
  src/jsx.d.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: remove unused slot attribute
  src/pages/_layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: remove unused flex classes
  src/pages/404.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: padding between sections
  src/components/friends/friends.astro
  src/components/projects/projects.astro
  src/components/timeline/timeline.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: footer
  src/pages/_layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: extract footer component
  src/components/footer.astro
  src/pages/_layout.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: update config and readme
  .prettierignore
  README.md
  eslint.config.js
  package.json
  prettier.config.js
  tsconfig.json
Due: prettier --write --cache --plugin-search-dir=.

chore: take down KGQA live url
  src/components/projects/projects.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: beautify readme
  README.md
Due: prettier --write --cache --plugin-search-dir=.

chore: update timeline
  src/components/timeline/timeline.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build: bump all dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

build: specify packageManager field in package.json
  package.json
Due: prettier --write --cache --plugin-search-dir=.

build: remove vercel cli package
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

chore: move ESNext to the first place
  tsconfig.json
Due: prettier --write --cache --plugin-search-dir=.

perf: replace Inter font with Inter Variable
  package.json
  pnpm-lock.yaml
  src/pages/_layout.astro
  uno.config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: adapt to Astro dts auto generation
  eslint.config.js
  src/env.d.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: suppress mistaken typescript-eslint error
  eslint.config.js
Due: none

docs: simplify README
  README.md
Due: prettier --write --cache --plugin-search-dir=.

fix: omit country code in html.lang
  src/pages/_layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: new 404 page
  src/pages/404.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: header
  src/components/header/header.astro
  src/components/header/index.ts
  src/components/header/logo.astro
  src/components/header/navigation-link.astro
  src/pages/404.astro
  src/pages/_layout.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: add zbwer friend link
  src/components/friends/avatars/zbwer.webp
  src/components/friends/friends.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: tailwindcss-radix-colors docs go live
  src/components/projects/projects.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: contact links
  package.json
  pnpm-lock.yaml
  src/components/home/contact-link.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build: migrate to bun
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

chore: update configs
  .gitignore
  .prettierignore
  bun.lockb
  eslint.config.js
  package.json
  src/env.d.ts
  tsconfig.json
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: layout
  bun.lockb
  package.json
  src/components/footer.astro
  src/components/header/header.astro
  src/components/header/navigation-link.astro
  src/components/home/contact-link.astro
  src/pages/404.astro
  src/pages/_layout.astro
  src/pages/index.astro
  uno.config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: overview on homepage
  src/assets/csm.svg
  src/assets/nus.svg
  src/assets/president.svg
  src/assets/rank-first.svg
  src/assets/scholarship.svg
  src/assets/stars.svg
  src/assets/uestc.svg
  src/components/home/highlight-card.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: no longer need pnpm-lock.yaml
  .prettierignore
Due: none

refactor: make icon defaults to display:block
  src/components/header/navigation-link.astro
  src/components/home/contact-link.astro
  uno.config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: no aero glass effect on header
  src/components/header/header.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: modify year
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: github card description
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: project link on github card
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

style: color and shadow
  src/components/home/highlight-card.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: rename overview to highlights
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: ready for new section
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

Path conditions:
  eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache: any of: *.{astro,ts,tsx}
  prettier --write --cache --plugin-search-dir=.: (any of: *.{astro,ts,tsx}) or (any of: *.{html,css,json,md,yaml})
