Repository mrcaidev/homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: replace blog with design patterns in typescript
  src/assets/design-patterns.webp
  src/pages/projects.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: remove quote marker in blockquote
  src/layouts/PostPage.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: typo
  src/pages/blog/posts/everything-you-need-to-know-about-100-continue.md
Due: prettier --write --cache --plugin-search-dir=.

feat: new post Http Caching - Fresh, Stale and Revalidation
  src/pages/blog/posts/http-caching-fresh-stale-and-revalidation.md
Due: prettier --write --cache --plugin-search-dir=.

refactor: change prose style
  src/layouts/PostPage.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: use vercel config to redirect
  src/pages/blog/index.astro
  vercel.json
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: new post
  src/pages/blog/posts/design-patterns-in-functional-programming.md
Due: prettier --write --cache --plugin-search-dir=.

feat: new post
  src/pages/blog/posts/design-patterns-in-one-sentence.md
Due: prettier --write --cache --plugin-search-dir=.

fix: directly navigate to /blog/1 instead of /blog
  src/components/Header.astro
  src/layouts/PostPage.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: new post
  src/pages/blog/posts/how-to-use-axios-interceptor-in-typescript.md
Due: prettier --write --cache --plugin-search-dir=.

refactor: layout
  package.json
  pnpm-lock.yaml
  src/components/footer.astro
  src/components/head.astro
  src/components/header/header.astro
  src/components/header/index.ts
  src/components/header/logo.astro
  src/components/header/menu-toggler.astro
  src/components/menu.astro
  src/components/navigation/index.ts
  src/components/navigation/link.astro
  src/components/navigation/navigation.astro
  src/data/navigation.json
  src/global.css
  src/icons/external-link.astro
  src/icons/favicon.astro
  src/icons/menu.astro
  src/icons/moon.astro
  src/icons/sun.astro
  src/icons/utils.ts
  src/pages/_layout.astro
  src/pages/index.astro
  tailwind.config.cjs
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: hero section
  src/components/hero/avatar.astro
  src/components/hero/hero.astro
  src/components/hero/index.ts
  src/components/hero/scroll-indicator.astro
  src/components/hero/typewriter.astro
  src/icons/chevrons-down.astro
  tailwind.config.cjs
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: about section
  src/components/about/about.astro
  src/components/about/index.ts
  src/components/about/item.astro
  src/components/section-title.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: broader space under section title
  src/components/about/item.astro
  src/components/section-title.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: title id
  src/components/section-title.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: projects section
  src/assets/cue.webp
  src/assets/design-patterns.webp
  src/assets/hooks.webp
  src/assets/kgqa.webp
  src/assets/paste.webp
  src/assets/sake.webp
  src/assets/tailwindcss-radix-colors.webp
  src/components/projects/data.ts
  src/components/projects/index.ts
  src/components/projects/project.astro
  src/components/projects/projects.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: colocate data and components
  src/components/navigation/data.ts
  src/components/navigation/navigation.astro
  src/data/navigation.json
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: dark mode only
  src/components/about/about.astro
  src/components/about/item.astro
  src/components/footer.astro
  src/components/header/header.astro
  src/components/header/menu-toggler.astro
  src/components/hero/avatar.astro
  src/components/hero/hero.astro
  src/components/hero/scroll-indicator.astro
  src/components/hero/typewriter.astro
  src/components/menu.astro
  src/components/navigation/link.astro
  src/components/projects/project.astro
  src/components/section-title.astro
  src/global.css
  src/pages/_layout.astro
  tailwind.config.cjs
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: remove husky and vscode settings
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
Due: prettier --write --cache --plugin-search-dir=.

chore: bump tailwindcss, astro, prettier
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

fix: remove ease in cursor animation
  tailwind.config.cjs
Due: none

fix: add missing transition
  src/components/projects/project.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: form prototype
  src/components/contact/contact.astro
  src/components/contact/data.ts
  src/components/contact/form.astro
  src/components/contact/index.ts
  src/components/contact/platform.astro
  src/icons/github.astro
  src/icons/mail.astro
  src/icons/tv.astro
  src/icons/twitter.astro
  src/icons/utils.ts
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: cleaner styles
  src/components/footer.astro
  src/components/header/menu-toggler.astro
  src/components/hero/avatar.astro
  src/components/hero/hero.astro
  src/components/hero/scroll-indicator.astro
  src/components/navigation/link.astro
  src/components/projects/project.astro
  src/components/projects/projects.astro
  src/components/section-title.astro
  src/global.css
  src/icons/menu.astro
  src/pages/_layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: form states
  src/components/contact/contact.astro
  src/components/contact/form.astro
  src/components/contact/platform.astro
  src/icons/checked.astro
  src/icons/loader.astro
  src/icons/rotate-ccw.astro
  src/icons/send.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: remove preset form value
  src/components/contact/form.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: define data types
  src/components/contact/data.ts
  src/components/contact/platform.astro
  src/components/navigation/data.ts
  src/components/navigation/link.astro
  src/components/projects/data.ts
  src/components/projects/project.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: select-none on section title
  src/components/section-title.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: friends section
  src/components/footer.astro
  src/components/friends/data.ts
  src/components/friends/friend.astro
  src/components/friends/friends.astro
  src/components/friends/index.ts
  src/icons/link.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: re-design friends section
  src/assets/mr-thanlon.webp
  src/assets/qy-invo-ling.webp
  src/assets/sumijie.webp
  src/components/friends/data.ts
  src/components/friends/friend.astro
  src/components/friends/friends.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: add friend link
  src/assets/yao-ssg.webp
  src/components/friends/data.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: add friend link (#2)
  src/assets/yao-ssg.webp
  src/components/friends/data.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

docs: update README
  README.md
Due: prettier --write --cache --plugin-search-dir=.

chore: rename project to homepage
  package.json
Due: prettier --write --cache --plugin-search-dir=.

build: disable inline assets
  astro.config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: proper heading levels
  src/components/projects/project.astro
  src/components/section-title.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: remove unused keyframes
  tailwind.config.cjs
Due: none

fix: logo navigates to /
  src/components/header/logo.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: 404 page
  src/components/footer.astro
  src/pages/404.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

Path conditions:
  eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache: any of: *.{astro,ts,tsx}
  prettier --write --cache --plugin-search-dir=.: (any of: *.{astro,ts,tsx}) or (any of: *.{html,css,json,md,yaml})
