Repository mrcaidev/homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

.lintstagedrc.json:

{
  "*.{astro,ts,tsx}": [
    "eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache",
    "prettier --write --cache --plugin-search-dir=."
  ],
  "*.{html,css,json,md,yaml}": "prettier --write --cache --plugin-search-dir=."
}

refactor: narrow header and footer width
  src/components/Footer.astro
  src/components/Header.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: unexpected outline on mobile devices
  src/components/Avatar.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: use span to address last issue
  src/components/Avatar.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: update package name to portfolio
  package.json
Due: prettier --write --cache --plugin-search-dir=.

chore: update README
  README.md
Due: prettier --write --cache --plugin-search-dir=.

refactor: remove empty line
  src/components/Analytics.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: update configs
  package.json
  tailwind.config.js
  tsconfig.json
Due: prettier --write --cache --plugin-search-dir=.

chore: put banner in README
  README.md
  public/banner.png
Due: prettier --write --cache --plugin-search-dir=.

fix: use banner as og image
  src/components/Head.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: change paste project image
  src/assets/paste.webp
Due: none

feat: add animation
  src/components/AboutCard.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/friends.astro
  src/pages/projects.astro
  tailwind.config.js
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: remove google analytics
  src/components/Analytics.astro
  src/components/Head.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: change project name
  package.json
Due: prettier --write --cache --plugin-search-dir=.

feat: integrate with @astrojs/sitemap
  astro.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: change banner
  README.md
  public/banner.png
Due: prettier --write --cache --plugin-search-dir=.

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

feat: customize head for different og type pages
  src/components/Head/BaseHead.astro
  src/components/Head/PostHead.astro
  src/components/Head/ProfileHead.astro
  src/utils/post.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: broken source code link
  src/components/Footer.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: redundant hreflang
  src/components/ProjectCard.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: integrate blog in nav bar
  src/components/Header.astro
  src/components/NavLink.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: re-design head tags
  src/components/Head/BaseHead.astro
  src/components/Head/ProfileHead.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: layouts
  src/components/Avatar.astro
  src/layouts/FeaturePage.astro
  src/layouts/HeroPage.astro
  src/layouts/Page.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/friends.astro
  src/pages/index.astro
  src/pages/projects.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: remove old head component
  src/components/Head.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: remove tags frontmatter
  src/components/Head/PostHead.astro
  src/utils/post.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: avoid bundling font as base64
  astro.config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: blog page
  package.json
  pnpm-lock.yaml
  src/components/PostCard.astro
  src/pages/blog/index.astro
  src/utils/post.ts
  tailwind.config.js
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: update astro to v1.6.1
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

feat: blog pagination
  src/components/Pagination.astro
  src/env.d.ts
  src/pages/blog/[page].astro
  src/pages/blog/index.astro
  src/utils/post.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: add actual posts
  .eslintrc.json
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/components/Head/PostHead.astro
  src/components/Pagination.astro
  src/components/PostCard.astro
  src/env.d.ts
  src/layouts/PostPage.astro
  src/pages/blog/[page].astro
  src/utils/post.ts
  src/utils/remark.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: typography
  package.json
  pnpm-lock.yaml
  src/layouts/PostPage.astro
  tailwind.config.js
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: sort posts according to publishedAt
  src/pages/blog/[page].astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: remove sup > a underline
  src/layouts/PostPage.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: add top margin for post title
  src/layouts/PostPage.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: move posts to p folder
  src/pages/blog/p/do-you-really-know-these-http-status-codes-1xx.md
  src/pages/blog/p/do-you-really-know-these-http-status-codes-2xx.md
Due: prettier --write --cache --plugin-search-dir=.

fix: remove posts .git
  src/pages/blog/posts/do-you-really-know-these-http-status-codes-1xx.md
  src/pages/blog/posts/do-you-really-know-these-http-status-codes-2xx.md
Due: prettier --write --cache --plugin-search-dir=.

feat: add sitemap to robots.txt
  public/robots.txt
Due: none

fix: broken link to original post
  src/pages/blog/posts/do-you-really-know-these-http-status-codes-1xx.md
  src/pages/blog/posts/do-you-really-know-these-http-status-codes-2xx.md
Due: prettier --write --cache --plugin-search-dir=.

fix: missing strong texts
  src/pages/blog/posts/do-you-really-know-these-http-status-codes-2xx.md
Due: prettier --write --cache --plugin-search-dir=.

feat: everything you need to know about 100 Continue
  src/pages/blog/posts/do-you-really-know-these-http-status-codes-1xx.md
  src/pages/blog/posts/do-you-really-know-these-http-status-codes-2xx.md
  src/pages/blog/posts/everything-you-need-to-know-about-100-continue.md
Due: prettier --write --cache --plugin-search-dir=.

feat: add back to blog anchor and sign
  src/layouts/PostPage.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.
