Repository mrcaidev/homepage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

.lintstagedrc.json:

{
  "*.{astro,ts,tsx}": [
    "eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache",
    "prettier --write --cache --plugin-search-dir=."
  ],
  "*.{html,css,json,md,yaml}": "prettier --write --cache --plugin-search-dir=."
}

fix: show outline on tab focus
  src/components/projects/project.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: better outline styles
  src/components/contact/form.astro
  src/components/contact/platform.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: trap focus in menu
  src/components/header/menu-toggler.astro
  src/components/menu.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: remove contact section
  src/components/contact/contact.astro
  src/components/contact/data.ts
  src/components/contact/form.astro
  src/components/contact/index.ts
  src/components/contact/platform.astro
  src/components/hero/data.ts
  src/components/hero/hero.astro
  src/components/hero/platform.astro
  src/components/navigation/data.ts
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

fix: make about section sound more native
  src/components/about/about.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: update configs
  .eslintrc.json
  .gitignore
  .prettierrc.json
  .vscode/settings.json
  astro.config.ts
  package.json
  pnpm-lock.yaml
  src/global.css
  src/pages/_layout.astro
  src/pages/index.astro
  tailwind.config.cjs
  tsconfig.json
  uno.config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/components/head/article-meta.astro
  src/components/head/common-meta.astro
  src/components/head/profile-meta.astro
  src/components/head/theme-initializer.astro
  src/components/head/website-meta.astro
  src/components/header/fence.astro
  src/components/header/header.astro
  src/components/header/horizontal-nav.astro
  src/components/header/logo.astro
  src/components/header/menu.astro
  src/components/header/nav-link.astro
  src/components/header/nav-links.json
  src/components/header/theme-toggle.astro
  src/components/header/vertical-nav.astro
  src/components/meta/profile-meta.astro
  src/layouts/root-layout.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  src/components/header/header.astro
  src/components/header/menu-control.astro
  src/components/header/menu.astro
  src/components/header/theme-toggle.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  package.json
  pnpm-lock.yaml
  src/components/head/common-meta.astro
  src/components/head/theme-initializer.astro
  tsconfig.json
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  src/components/head/article-meta.astro
  src/components/head/common-meta.astro
  src/components/header/header.astro
  src/components/header/logo.astro
  src/components/header/menu-control.astro
  src/components/header/menu.astro
  src/components/header/nav-link.astro
  src/components/header/theme-toggle.astro
  src/layouts/root-layout.astro
  tsconfig.json
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: footer
  src/components/footer.astro
  src/layouts/root-layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  src/layouts/root-layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  src/components/header/logo.astro
  src/components/header/theme-toggle.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: hero
  src/assets/favicon.svg
  src/components/header/logo.astro
  src/components/hero.astro
  src/layouts/root-layout.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  src/components/header/logo.astro
  src/components/header/nav-link.astro
  src/components/header/theme-toggle.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: install sharp
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

chore: use tabler icon set
  package.json
  pnpm-lock.yaml
  src/components/header/menu-control.astro
  src/components/header/theme-toggle.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: bump dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

chore: index page meta description
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

style: split up hero component
  src/components/hero.astro
  src/components/hero/greeting.astro
  src/components/hero/hero.astro
  src/components/hero/index.ts
  src/components/hero/logo.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: not use @unocss/eslint-config
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/components/footer.astro
  src/components/header/fence.astro
  src/components/header/header.astro
  src/components/header/logo.astro
  src/components/header/menu-control.astro
  src/components/header/menu.astro
  src/components/header/nav-link.astro
  src/components/header/theme-toggle.astro
  src/components/hero/greeting.astro
  src/components/hero/hero.astro
  src/components/hero/logo.astro
  src/layouts/root-layout.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: social links
  src/components/hero/greeting.astro
  src/components/hero/hero.astro
  src/components/hero/social-link.astro
  src/components/hero/social-links.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: save work
  src/components/header/menu-control.astro
  src/components/hero/social-links.astro
  src/components/projects/projects.json
  uno.config.ts
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: introduce vercel cli
  .eslintignore
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

chore(config): replace eslintignore with ignores in eslint.config.js
  .eslintignore
  eslint.config.js
Due: none

chore(config): remove useless option
  tsconfig.json
Due: prettier --write --cache --plugin-search-dir=.

chore: update readme tech stacks
  README.md
Due: prettier --write --cache --plugin-search-dir=.

chore(public): change metadata file naming
  README.md
  public/icon.svg
  public/opengraph-image.png
Due: prettier --write --cache --plugin-search-dir=.

build(deps-dev): add @unocss/eslint-config
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

feat: 404 page
  package.json
  pnpm-lock.yaml
  public/og-image.png
  src/pages/404.astro
  src/pages/_layout.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: hero section
  src/components/hero.astro
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: timeline section
  src/components/timeline/index.ts
  src/components/timeline/timeline-event.astro
  src/components/timeline/timeline-experience.astro
  src/components/timeline/timeline-toggle.astro
  src/components/timeline/timeline.astro
  src/components/timeline/timeline.ts
  src/jsx.d.ts
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: projects section
  src/components/projects/index.ts
  src/components/projects/logos/design-patterns.svg
  src/components/projects/logos/hooks.svg
  src/components/projects/logos/intelligent-logistics.svg
  src/components/projects/logos/iwallpaper.svg
  src/components/projects/logos/kgqa.svg
  src/components/projects/logos/oauth.svg
  src/components/projects/logos/tailwindcss-radix-colors.svg
  src/components/projects/logos/uestc.svg
  src/components/projects/project-card.astro
  src/components/projects/projects.astro
  src/components/projects/projects.ts
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

refactor: social links style
  src/components/hero.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

build(deps-dev): explicitly install sharp
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache --plugin-search-dir=.

style: cleaner props passing
  src/components/timeline/timeline.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

feat: friends section
  src/components/friends/avatars/mr-thanlon.webp
  src/components/friends/avatars/qy-invo-ling.webp
  src/components/friends/avatars/sake.webp
  src/components/friends/avatars/sumijie.webp
  src/components/friends/avatars/yaossg.webp
  src/components/friends/friend-card.astro
  src/components/friends/friends.astro
  src/components/friends/friends.ts
  src/components/friends/index.ts
  src/pages/index.astro
Due: eslint --fix --cache --cache-location node_modules/.cache/eslint/.eslintcache, prettier --write --cache --plugin-search-dir=.

chore: remove unused assets
  src/assets/avatar.webp
  src/assets/cue.webp
  src/assets/design-patterns.webp
  src/assets/hooks.webp
  src/assets/kgqa.webp
  src/assets/paste.webp
  src/assets/tailwindcss-radix-colors.webp
Due: none
